body {
    font-family: Algerian, serif;
/*<<<<<<< HEAD*/
    background: cyan;
    width: 970px;
/*=======*/
    /*background: gray;*/
    /*margin: 0 auto;*/
/*>>>>>>> new_style*/
}

.first_paragraph {
    font-family: "Agency FB", cursive;
    background: center;
}